/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.display-4 font-weight-light {
justify-content: center;
}
.fa{
  font-size: 19px;
}
.fa-facebook-f{
color:#4267B2
};
.fa-twitter{
 color: #55acee;
}
.fa-instagram{
color: #e1306c;
}
.fa-linkedin{
  color:#0077B5;
}